<h1><center>Titanic</center></h1>

<h1>1. Define Problem</h1>

In this notebook, I'll consider the problem of predicting survival on the Titanic using the Titanic dataset. It is based on a Kaggle competition called "Titanic - Machine Learning from Disaster". We are tackling with Classification problem, we will clean and analyze dataset, and then create machine learning model using scikit-learn library. This solution is created solely for educational purposes.

<h2>Preliminary assumptions</h2>

- PassengerId won't matter to the model, it only counts the number of passengers.
- Passenger wealth will help survival, so variables such as Pclass, Fare, Name (especially specific honors) and perhaps Ticket will matter to the model.
- The gender of the passenger will matter, in this type of disaster women are more likely to be rescued first, especially in the years of this disaster.
- The age of the passenger will matter, those who are young or older may have a higher survival rate.
- SibSp and Parch will matter, those with more siblings (especially children) on board will have a higher survival rate.
- Port of embarkation and cabin may matter because they can dictate location on the ship.
- Numbers in the Ticket variable are most likely useless, but letters may have some meaning.

<h2>Import packages</h2>

In [6]:
# data analysis and manipulation
import pandas as pd

<h2>Load datasets</h2>

In [7]:
# load data from csv file into dataframe
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/train.csv')

<h2>Explore the data</h2>

In [8]:
# print first five records
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

We have 12 variables, we will use the data dictionary from Kaggle*, which contains their descriptions. Here are some observations about them:
- PassangerId is a unique identifier for each passenger, it almost certainly does not carry any useful information. This is the first candidate for removal but we'll decide on it after closer examination.
- Survived is our target(dependent) variable, we want to create a model that predicts it.
- There are 5 independent variables that are categorical, namely Pclass, Sex, Cabin, Ticket and Embarked.
- Pclass is an ordinal variable, 1 is the first class, and so on.
- The ticket will require further investigation, and it is unclear whether it is unique and whether there is a pattern to it.
- Name variable contains honorifics.
- Embarked variable contains the abbreviation of Embarkation cities.
- Cabin variable contains empty values, as well as letters, this will also require further investigation.

*https://www.kaggle.com/competitions/titanic/data

In [9]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200